# Configuración de la base de datos
SPRING_R2DBC_URL=r2dbc:mariadb://usuario:contraseña@host:puerto/nombre_bd?allowPublicKeyRetrieval=true&useSSL=false
SPRING_R2DBC_USERNAME=tu_usuario
SPRING_R2DBC_PASSWORD=tu_contraseña

# Configuración del servidor
SERVER_PORT=8080
